.homepagePic {
  height: auto;
  width: auto;
  height: 400px;
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}
.signupPic {
  height: 700px;
  width: 300px;
}

.userPersona {
  width: 700px;
}

.jumbotron {
  background-image: url(../images/Jumbo\ pic.png);
  background-size: cover;
  height: 500px;
  height: calc(75vh - 25px);
}
